[Desktop Entry]
Version=1.0
Type=Application
Name=Simple, but powerfull GTK menu application.
GenericName=GTK menu
Comment=Create some exiting menus and enjoy them!
Exec=mygtkmenui /usr/share/doc/mygtkmenui/example_menu.desc
TryExec=mygtkmenui
Icon=mygtkmenui.svg
Terminal=false
Categories=GTK;Utility;
StartupNotify=false
MimeType=image/bmp;image/gif;image/pcx;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/tiff;image/jpeg;image/png;image/x-xpixmap;image/svg+xml;image/jpeg2000;text/x-mygtkmenui;text/plain;
